<div class="formulario">
	<div class="titulo-formulario">
		<h1> Controle de Notebooks </h1>
	</div>
	<div class="form-geral">
		<form class="form-notebook">
            <table>
                <tr>
                  <td>
                    <div class="form-group">
                        <label for="patrimonio">Patrimônio</label>
                        <input type="text" class="form-control" id="patrimonio">
                    </div>
                  </td>
                  
                  <td>
                    <div class="form-group">
                        <label for="patrimonio">Serial Number</label>
                        <input type="text" class="form-control" id="patrimonio">
                    </div>
                  </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="patrimonio">Fabricante</label>
                            <select class="form-control">
                                <option>Escolha um fabricante</option>
                                <option>Dell</option>
                                <option>Lenovo</option>
                                <option>Samsung</option>
                                <option>Macbook</option>
                                <option>HP</option>
                                <option>Toshiba</option>
                                <option>Acer</option>
                            </select>
                        </div>
                      </td>
                      <td>
                        <div class="form-group">
                            <label for="modelo">Modelo</label>
                            <input type="text" class="form-control" id="modelo">
                        </div>
                      </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="garantia">Garantia</label>
                            <input type="text" class="form-control" id="garantia" placeholder="DD/MM/AAAA">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label for="servicetag">Service tag</label>
                            <input type="text" class="form-control" id="servicetag">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="dataentrega">Entrega</label>
                            <input type="text" class="form-control" id="dataentrega" placeholder="DD/MM/AAAA">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label for="area">Área</label>
                            <input type="text" class="form-control" id="area" placeholder="Selecione a área">
                        </div>
                    </td>
                </tr>
              </table>
            <div class="form-group">
                <label for="usuario">Usuário</label>
                <input type="text" class="form-control" id="usuario" size="10">
            </div>
            <div class="buttons">
                <table>
                    <td><button type="button" class="btn btn-success">Salvar</button></td>
                    <td><button type="button" class="btn btn-warning">Alterar</button></td>  
                    <td><button type="button" class="btn btn-danger">Excluir</button></td>
                </table>
                
                
                
            </div>
        </form>
	</div>
    <div class="form-rodape" style="text-align: center ;">
        <p>copyright © 2022 Bruno Soares - Todos os direitos reservados</p>
    </div>
</div>
