body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    text-justify: auto;
    background-color: hsla(0, 0%, 100%, 0.885);
}

.navbar a:hover{
    color: darkkhaki;
    padding-left: 10px;
}

.navbar{
    background-color:darkslategrey;
}
.navbar a{
    position: relative;
    display: inline;
}

.nav-link {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.formulario{
    width: 50%;
    margin: 2em auto;
    background-color:darkslategrey;
    border-radius: 5px;
       
}

#form-notebook{
    margin: 2em 2em 2em 2em;
    display: flex;
    flex-direction: column;
    
}

#titulo-formulario{
    padding: 0.5em;
    border-bottom: 1px solid;
    text-align: center;
}

.titulo-formulario h1 {
    margin: 0;
}

.tabela{
    margin: auto;
}

#form-buttons {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 2em 2em 2em 2em;   
}
